.header {
    background-color: var(--cultured);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.header__end {
    display: flex;
}

.header__logo {
    display: block;
}