.card__title {
    font-family: var(--font-serif);
    font-size: var(--titre---h4);
    color: var(--cultured);
    padding-left: 10px;
    min-height: 40px;
    background-color: var(--space--cadet);
    background-position-y: center;
    align-content: center;
    padding-top: 10px;
    margin: 0;
}

.card__tweet {
    padding-left: 10px;
    color: var(--rich--black);
    margin: 10px 0px 10px 0px;
}

.card__link {
    min-height: 117px;
    min-width: 153px;
    background-color: var(--white);
    text-decoration: none;
    color: var(--russian--green);
    font-size: var(--button);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 44px;
}

.card__interract--reverse {
    display: flex;
    flex-direction: row-reverse;
}

.card__image {
    max-width: 223px;
    height: auto;
}

.card__interract {
    display: flex;
    margin-bottom: 50px;
}