.bg {
    position: absolute;
    width: 100%;
    top: 10px;
    z-index: -2;
}

.hero__header {
    padding-top: 185px;
    text-transform: uppercase;
    text-align: center;
    color: var(--space--cadet);
}

.hero__femmes {
    position: absolute;
    z-index: -1;
    padding-top: 70px;
}

.hero__definition {
    background-color: var(--white);
    margin: 205px 0px 0px 0px;
    padding: 15px 10px 1px 0px;
}

.hero__subtitle {
    text-align: center;
    color: var(--space--cadet);
    font-size: var(--titre--h2);
    font-weight: 600;
    margin: 0;
}

.hero__doubleScroll {
    margin: 25px;
    padding-left: 40%;
}