.menu {
    visibility: hidden;
    position: fixed;
}

.menu-btn {
    background: none;
    width: 30px;
    
    -webkit-appearance: none;
    appearance: none;
    border: none;
    position: relative;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    width: 100%;
    background-color: var(--russian--green);
    height: 4px;
    position: absolute;
    left: 0;
    z-index: 2;
    border-radius: 2px;
}
.menu-btn__bar::before {
    top: -10px;
}
.menu-btn__bar::after {
    top: 10px;
}