.project__left {
    background-color: var(--white);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
}

.project__right {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

.project__link {
    text-decoration: none;
    color: var(--russian--green);
}

.project__title {
    margin: 0;
    font-size: var(--titre--h2);
    font-family: var(--font-serif);
    font-weight: bold;
}

.project__name {
    margin: 0;
    color: var(--rich--black);
    padding-top: 5px;
}

.project__name--right {
    margin: 0;
    color: var(--rich--black);
    padding-top: 5px;
    text-align: end;
}