.text {
    padding-top: 245px;
}

.text__chapo {
    font-size: var(--chapo);
    font-style: italic;
    padding: 40px 10px 0px 0px;
}

.text__chapo--alternate {
    font-size: var(--base-bold);
    font-weight: bold;
    padding: 40px 10px 0px 0px;
}

.text__title {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: var(--space--cadet);
    font-size: var(--titre--h5);
}

.text__image {
    margin-bottom: 10px;
}

.text__image--video {
    margin-bottom: 30px;
}

.text__legende {
    background-color: var(--space--cadet);
    color: var(--cultured);
    font-size: var(--figcaption);
    font-family: var(--font-serif);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 30px;
    padding-left: 10px;
    min-height: 6%;
    max-width: max-content;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: -30px;
    }

.text__legende--video {
    background-color: var(--space--cadet);
    color: var(--cultured);
    font-size: var(--figcaption);
    font-family: var(--font-serif);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 30px;
    padding-left: 10px;
    min-height: 40px;
    max-width: max-content;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: -35px;
}

.text__quote {
    font-size: var(--base-bold);
    background-color: var(--space--cadet);
    color: var(--white);
    font-weight: bold;
    text-align: center;
    margin: 25px 0px 25px 0px;
    padding: 20px 10px 20px 10px;
}

.text__quote--gloria {
    font-size: var(--base-bold);
    background-color: var(--space--cadet);
    color: var(--white);
    font-weight: bold;
    text-align: center;
    margin: 45px 0px 25px 0px;
    padding: 20px 10px 20px 10px;
}

.text__titleh4 {
    margin: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: bold;
}

.text__titleh4--content {
    background-color: var(--space--cadet);
    color: var(--cultured);
    font-size: var(--titre--h4);
    font-family: var(--font-serif);
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    min-height: 50px;
    display: flex;
    align-items: center;

}

.text__glossaire {
    font-size: var(--base-bold);
    color: var(--space--cadet);
    font-weight: bold;
}