.top__image {
    position: absolute;
    z-index: 0;
    padding-top: 65px;
}

.top__title {
    position: absolute;
    text-align: center;
    z-index: 1;
    padding-top: 50px;
    font-style: var(--titre---h3);
    color: var(--cultured);
    margin-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.top__title--color {
    position: absolute;
    text-align: center;
    z-index: 1;
    padding-top: 50px;
    font-style: var(--titre---h3);
    color: var(--rich--black);
    margin-top: 100px;
    padding-left: 90px;
    padding-right: 20px;
}

.top__title--glossaire {
    position: absolute;
    z-index: 1;
    padding-top: 50px;
    font-style: var(--titre---h3);
    color: var(--rich--black);
    margin-top: 100px;
    padding-left: 140px;
}